# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - med-educa-back

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.husky/**'
      - '.github/**'
      - '.env'
      - '.env.example'
      - '*.md'
      - 'LICENSE'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'
      - '.gitignore'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: npm install, build, and test
        run: |
          npm install -g @nestjs/cli
          npm install
          npm run build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            dist
            package.json
            package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C6A77968268D4ABFA6926169B65D7F5B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1C4C66F0D5FB423BB60CEDD9DABCB727 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1E438462BB234362B89CAE7E17E18FE6 }}

      - name: Prepare package for Azure
        run: |
          mkdir deploy-package
          cp -r dist package.json package-lock.json deploy-package

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'med-educa-back'
          slot-name: 'Production'
          package: ./deploy-package
